[Unit]
Description=Shadowsocks Service
After=network.target

[Service]
Type=simple
User=shadowsocks
Group=shadowsocks
ExecStart=/bin/ssservice server -c /etc/shadowsocks/config.json
Restart=on-failure
LimitMEMLOCK=infinity
LimitRSS=infinity
LimitCPU=infinity
PrivateTmp=true

[Install]
WantedBy=multi-user.target